.sidenav {
    width: 120px;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 50px;
    background: #423f3f;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 16px 8px 16px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.container-one {
    text-align: center;
    margin: 0 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.container-two {
    margin-top: 50px;
}

.container-three {
    text-align: left;
    margin-top: 100px;
    margin-left: 30px;
}

.larger-emoji {
    font-size: 24px;
}
