.sidenav {
    width: 112px;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 50px;
    background: #6e6565;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 16px 8px 16px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table th,
.table td {
    max-width: 200px;
    word-wrap: break-word;
}

.table img {
    max-width: 100%;
    height: auto;
}

.container-one {
    text-align: center;
    margin: 0 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.container-three {
    text-align: left;
    margin-top: 100px;
    margin-left: 30px;
}

.larger-emoji {
    font-size: 24px;
}

#category button {
    margin-inline-start: 800px !important;
    width: 100px !important;
}

.card-img-top {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.card-img-bottom {
    height: 200px;
    width: 100%;
    /* object-fit: cover; */
}

.card-img-latest {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
